<div id="content-layout">
    <div id="content">
    </div>
    <div id="navbar">
        <div id="close-btn">close x</div>
        <ul>
            <li>about me</li>
            <li>resume</li>
            <li>stuff</li>
            <li>projects</li>
        </ul>
    </div>
</div>