<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,600,100" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/styles.min.css">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <span id="name">Simon Tam</span>
        <a id="linked-in" href="http://www.linkedin.com/pub/simon-tam/14/634/704" target="_blank"></a>
        <span id="email-obf"><script>document.getElementById("email-obf").innerHTML="<n vq=rznvy uers=\"znvygb:fvzba.gnz87@tznvy.pbz\" gnetrg=\"_oynax\"></n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});</script>
        <noscript><span style="unicode-bidi:bidi-override;direction:rtl;">moc.liamg@78mat.nomis</span></noscript></span>
    </header>

    {{{body}}}

    <footer>
        {{footer}}
    </footer>

    <script data-main="js/app" src="js/lib/require.js"></script>
</body>

</html>