<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,600,100" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/styles.min.css">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <span id="name">Simon Tam</span>
    </header>

    {{{body}}}

    <script data-main="js/app" src="js/lib/require.js"></script>
</body>

</html>