#main {
    height: 340px;
    width: 1024px;
    background-image: url('../images/bg.png');
    position: relative;

    img {
        position: absolute;
    }
}

#main-1 {
    float: right;
}

#main-2 {    
    margin-bottom:20px;
}

.blur {
    display: none;
}

@mixin about-me {
    height: 340px;
    width: 580px;
}

#about-me-tile {
    @include about-me;
    cursor: pointer;
    float: left;
}

#about-me-hover {
    @include about-me;
    position: absolute;
    background-color: rgba(140, 198, 63, 0.5);
    display: none;

    .title {
        height: 100%;
        width: 200px;
        color: white;
        font-size: 32pt;
        float: left;
        padding: 20px;
    }

    .body {
        height: 100%;
        width: 380px;
        float: right;
        font-size: 16pt;
        padding-top: 75px;

        a {
            color: white;
        }
    }

    .icon {
        bottom: 20px;
        left: 20px;
    }
}

@mixin tile-hover {
    div {
        padding-top: 5px;
        padding-left: 10px;
        color: white;
    }
}

@mixin resume {
    height: 160px;
    width: 140px;
}

#resume-tile {
    @include resume;
    cursor: pointer;
    float: left;
}

#resume-hover {
    @include resume;
    @include tile-hover;
    position: absolute;
    background-color: rgba(255, 18, 26, 0.5);
    display: none;

    .title {
        font-size: 20pt;
    }

    .icon {
        width: 50px;
        bottom: 35px;
        left: 45px;
    }
}

@mixin stuff {
    height: 160px;
    width: 264px;    
}

#stuff-tile {
    @include stuff;
    cursor: pointer;
    float: right;
}

#stuff-hover {
    @include stuff;
    @include tile-hover;
    position: absolute;
    height: 160px;
    width: 264px;
    background-color: rgba(0, 169, 157, 0.5);
    display: none;

    .title {
        font-size: 20pt;
    }

    .body {
        width: 200px;

        a {
            color: black;
        }
    }

    .icon {
        width: 50px;
        bottom: 10px;
        right: 10px;
    }
}

@mixin projects {
    height: 160px;
    width: 424px;
}

#projects-tile {
    @include projects;
    cursor: pointer;
    float: left;
}

#projects-hover {
    @include projects;
    @include tile-hover;
    position: absolute;
    background-color: rgba(102, 45, 145, 0.5);
    display: none;

    .title {        
        font-size: 20pt;
    }

    .body {
        width: 350px;

        a {
            color: #21DCFF;
        }
    }

    .icon {
        width: 50px;
        bottom: 10px;
        right: 10px;
    }
}