#main {
    height: 340px;
    width: 1024px;
    background-image: url('../images/bg.png');
    position: relative;
}

#main-1 {
    float: right;
}

#main-2 {    
    margin-bottom:20px;
}

@mixin hover {
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

#about-me-tile {
    height: 340px;
    width: 580px;
    float: left;
    background-image: url('../images/about-me.png');
}

#about-me-hover {
    @include hover;

    background-color: #8CC63F;

    .title {
        color: white;
        font-size: 32pt;
    }

    .body {

    }    
}

#resume-tile {
    height: 160px;
    width: 140px;
    background-image: url('../images/resume.png');
    float: left;
}

#resume-hover {
    @include hover;
    background-color: #ED1C24;

    .title {
        color: white;
        font-size: 20pt;
    }

    .body {

    }    
}

#stuff-tile {
    height: 160px;
    width: 264px;
    background-image: url('../images/stuff.png');
    float: right;
}

#stuff-hover {
    @include hover;
    background-color: #00A99D;

    .title {
        color: white;
        font-size: 20pt;
    }

    .body {

    }    
}

#projects-tile {
    height: 160px;
    width: 424px;
    background-image: url('../images/projects.png');
    float: left;
}

#projects-hover {
    @include hover;
    background-color: #662D91;

    .title {
        color: white;
        font-size: 20pt;
    }

    .body {

    }    
}