<div id="main">
    <div id="about-me" class="tile">
        <img src="images/about-me.png" />
        <img class="blur" src="images/about-me-blur.png" />
        <div id="about-me-hover">
            <div class="title">
                ABOUT ME
            </div>
            <div class="body">
                This is the body for the about me section... <a>Read More</a>
            </div>
            <img class="icon" src="images/icon-about-me.png" />
        </div>
    </div>
    <div id="main-1">
        <div id="main-2" class="clearfix">
            <div id="resume" class="tile">
                <img src="images/resume.png" />
                <img class="blur" src="images/resume-blur.png" />
                <div id="resume-hover">
                    <div class="title">
                        RESUME
                    </div>
                    <img class="icon" src="images/icon-resume.png" />
                </div>
            </div>
            <div id="stuff" class="tile">
                <img src="images/stuff.png" />
                <img class="blur" src="images/stuff-blur.png" />
                <div id="stuff-hover">
                    <div class="title">
                        STUFF
                    </div>
                    <div class="body">
                        This is the body for the stuff section... <a>Read More</a>
                    </div>
                    <img class="icon" src="images/icon-stuff.png" />
                </div>
            </div>
        </div>
        <div id="projects" class="tile">
                <img src="images/projects.png" />
                <img class="blur" src="images/projects-blur.png" />
            <div id="projects-hover">
                <div class="title">
                    PROJECTS
                </div>
                <div class="body">
                    This is the body for the projects section... <a>Read More</a>
                </div>
                <img class="icon" src="images/icon-projects.png" />
            </div>
        </div>
    </div>
</div>