<div id="main">
    <div id="about-me-tile">
        <div id="about-me-hover">
            <div class="title">
                ABOUT ME
            </div>
            <div class="body">
            </div>
        </div>
    </div>
    <div id="main-1">
        <div id="main-2" class="clearfix">
            <div id="resume-tile">
                <div id="resume-hover">
                    <div class="title">
                        RESUME
                    </div>
                    <div class="body">
                    </div>
                </div>
            </div>
            <div id="stuff-tile">
                <div id="stuff-hover">
                    <div class="title">
                        STUFF
                    </div>
                    <div class="body">
                    </div>
                </div>
            </div>
        </div>
        <div id="projects-tile">
            <div id="projects-hover">
                <div class="title">
                    PROJECTS
                </div>
                <div class="body">
                </div>
            </div>
        </div>
    </div>
</div>