#main {
  height: 340px;
  width: 1024px;
  background-image: url("../images/bg.png");
  position: relative;
}

#main-1 {
  float: right;
}

#main-2 {
  margin-bottom: 20px;
}

#about-me-tile {
  height: 340px;
  width: 580px;
  float: left;
  background-image: url("../images/about-me.png");
}

#about-me-hover {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-color: #8CC63F;
}
#about-me-hover .title {
  color: white;
  font-size: 32pt;
}

#resume-tile {
  height: 160px;
  width: 140px;
  background-image: url("../images/resume.png");
  float: left;
}

#resume-hover {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-color: #ED1C24;
}
#resume-hover .title {
  color: white;
  font-size: 20pt;
}

#stuff-tile {
  height: 160px;
  width: 264px;
  background-image: url("../images/stuff.png");
  float: right;
}

#stuff-hover {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-color: #00A99D;
}
#stuff-hover .title {
  color: white;
  font-size: 20pt;
}

#projects-tile {
  height: 160px;
  width: 424px;
  background-image: url("../images/projects.png");
  float: left;
}

#projects-hover {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-color: #662D91;
}
#projects-hover .title {
  color: white;
  font-size: 20pt;
}
